 .one {
     height: 100px;
     background: green;
     -webkit-flex-grow: 1;
     flex-grow: 1;
 }
 
 .two {
     height: 100px;
     background: orange;
     -webkit-flex-grow: 1;
     flex-grow: 1;
 }
 
 .three {
     height: 100px;
     background: grey;
     -webkit-flex-grow: 1;
     flex-grow: 1;
 }
 
 .hello {
     display: flex;
     width: 100%;
 }
 
 .one1 {
     height: 100px;
     background: green;
 }
 
 .two1 {
     height: 100px;
     background: orange;
 }
 
 .three1 {
     height: 100px;
     background: grey;
 }
 
 .hello1 {
     -webkit-box-orient: vertical;
     width: 100%;
     margin-top: 20px;
 }
 
 .a {
     -webkit-order: 3;
     height: 100px;
     background: orange;
     text-align: center;
     -webkit-flex-grow: 1;
 }
 
 .b {
     -webkit-order: 2;
     height: 100px;
     background: green;
     text-align: center;
     -webkit-flex-grow: 1;
 }
 
 .c {
     -webkit-order: 1;
     height: 100px;
     background: red;
     text-align: center;
     -webkit-flex-grow: 1;
 }
 
 .hello3 {
     width: 100%;
     margin-top: 20px;
     display: flex;
 }
 
 .center {
     display: -webkit-box;
     width: 200px;
     height: 200px;
     background: orange;
     -webkit-box-pack: center;
     -webkit-box-align: center;
     margin-top: 20px;
 }
 .list{
    background: orange;
    -webkit-column-count:4;
 }
 .end{
    margin-top: 150px;
    background: grey;
    text-align: center;
 }
